<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MACDONALD</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    .inicio {
        padding:4px 4px;
        margin: 8px;
        width: 80px;
        text-align: center;
    }
    body{
       background: yellow;
    }
    h1 {
        font-size: 20px;
    }
    .alt {
        background: #0084ff;
        color: #fff;
        margin-top: 40px;
        width: 200px;
}
    
</style>
<h1>Indique cuando la orden este lista con el boton "Listo" o bien en caso de algun cambio del cliente "Cancelar"</h1>
<hr/>
    <button class ="inicio">
        <a class="ordena" href="menu">Inicio</a> 
    </button>
    <hr/>

<div class="contenido">
    <table style="width:100%" class="datos">
        <thead class="orden">
            <!-- <tr>
                <th class="combo">Combo</th>
                <th class="bebida">Bebida</th>
                <th class="acomp">Acompañamiento</th>
                </tr> -->
        </thead>
        <tbody class="cuerpo_t">
        </tbody>

    </table>
</div>
</head>
<script src="/assets/jquery.js"></script>
<script src="/assets/socket.io.js"></script>
<script>

var contenido = $(".contenido")
var datos = $(".datos")
var listo = $(".listo")
var combo = $(".combo")

// let cambiar_estado = function(orden){
//     let nuevo_estado = (orden.attributes['status'].value == true) ? addClass : false
//      ^^ If en una sola línea representa lo siguiente:
//      if(status == 1){
//          new_status = 0
//      }else{
//          new_status = 1
//      }

//     $("#"+orden.id).attr('status', new_status)
//     let admin = {
//         '_id': orden.id,
//         'status': new_status,
//         'name': orden.name
//     }
    // $.ajax({
    //     url: 'http://'+ window.location.host +'/api/admin/'+contenido,
    //     type: 'PUT',
    //     data: contenido
    // });
    // socket.emit('admin_clicked', orden);
// }

contenido = function(url){
    $.get( url, function( data ) {
        datos.empty()
            $.each( data.admin, function( i, orden ) {
            datos.append(`
                <tr>
                <th class="combo">`+ orden.combo +`</th>
                <th>`+ orden.bebida +`</th>
                <th>`+ orden.acompanamiento +`</th>
                <td><button class="listo">Listo</button></td>
                </tr>
            `)                
        })
    listin()
    })
}

let listin = function() {
    let listo = $(".listo")
    listo.on("click", function(e){
        console.log("XD")
        let orden = e.target
        cambiar_estado(orden)
    })
}

contenido('http://'+ window.location.host +'/api/admin')
</script>
</html>