<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MACDONALD</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <Style type = "text/css">
      body {
        background-color: rgb(87, 87, 145);
      }
      * {
        padding:8px;
        margin: 2px;
      }
      #header {
        margin:auto;
        width:500;
        font-family:Arial, Helvestica, sans-serif;
      }

      button nav {
        display: block;
        position: absolute;
        margin: 5px;
        
      }
    </Style>
</head>
<body>
        <nav class="menu menu-light bg-light">
         <form class="munu-inline">
          <button class="btn btn-sm btn-outline-success" type="button">Menu</button>
         </form>
        </nav>
        <nav class="cocina cocina-light bg-light">
          <form class="cocina-inline">
           <button class="btn btn-sm btn-outline-success" type="button">Cocina</button>
          </form>
        </nav>
        <nav class="nosotros nosotros-light bg-light">
          <form class="nosotros-inline">
            <button class="btn btn-sm btn-outline-success" type="button">Nosotros</button>
          </form>
        </nav>
     

</bo