<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MACDONALD</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    .inicio {
        padding:4px 4px;
        margin: 8px;
        width: 80px;
        text-align: center;
    }
    .title {
        text-align: center;
    }
    body {
        background: yellow;
    }
    
</style>
    <button class ="inicio">
        <a class="ordena" href="menu">Inicio</a> 
    </button>

    <h1 class="title">INTEGRANTES DEL GRUPO</h1>
    <h2>-> JAIRO</h2>
    <h2>-> ALONSO VILLALOBOS LEON</h2>
    <h2>-> ISAAC ESTEBAN MURILLO</h2>
    <h2>-> ROY UREÑA</h2>
    <h2>-> ANTHONY RAMIREZ ESPINOZA</h2>
</head>
</html>