<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MACDONALD</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    .inicio {
        padding:4px 4px;
        margin: 8px;
        width: 80px;
        text-align: center;
    }
    select {
        margin: 30px;
        width: 100px;
    }
    h1 {
        font-size: 20px;
    }
    .guardar {
            font-size: 20px;
            margin: 20px;
            background: chocolate;
            border-radius: 8px;
        }
    body {
        background: yellow;
    }
</style>
<button class ="inicio">
        <a class="ordena" href="menu">Inicio</a> 
</button>

    </head>
    <hr class="contenedor"/>
<select name = "furmulario1" class = "combo"></select>
<select name = "furmulario1" class = "bebida"></select>
<select name = "furmulario1" class = "acomp"></select>
<hr />
    <button class="guardar">Elegir</button>
    <hr />
        <table style="width:100%" class="datos">
       
            <tbody class="cuerpo_t"></tbody>
        </table>
    <script src="/assets/jquery.js"></script>
    <script src="/assets/socket.io.js"></script>
    <script>
    
        var inputs = $(":input")
        var button = $(".guardar")
        var cuerpo_t = $(".combo")
        var cuerpo_b = $(".bebida")
        var cuerpo_a = $(".acomp")
        var contenedor = $(".contenedor")
        
var contenido = function(url){
    $.get( url, function( data ) {
        cuerpo_t.empty()
        $.each( data.admins, function( i, admin ) {
            cuerpo_t.append(`
            <option>`+"--"+`</option>
            <option>`+ admin.combo +`</option>
            `)
            cuerpo_b.append(`
            <option>`+"--"+`</option>
            <option>`+ admin.bebida +`</option>
            `)
            cuerpo_a.append(`
            <option>`+"--"+`</option>
            <option>`+ admin.acompanamiento +`</option>
            `)
        })
    })
}

socket = io.connect(window.location.host);
    socket.on('conect', function() {
        console.log('conectado nuevo menu con socket');
        socket.send('connect nuevo menu con socket!')
    });
    socket.on("nuevo_menu", function(orden){
        if (!orden.combo || !orden.bebida || !orden.acomp ) return
        contenedor.append(`
            <tr>
            <th>`+ orden.combo +`</th>
            <th>`+ orden.bebida +`</th>
            <th>`+ orden.acomp +`</th>
            </tr>
        `)
    })

button.on("click", function(){
        console.log("Enviando Orden a Cocina")
        socket.emit('nuevo_orden', {
            'combo': $(".combo").text(), 
            'bebida': $(".bebida").text(),
            'acompanamiento': $(".acomp").text()
        })
    })


// $(".contenedor option:.combo", ".contenedor option:.")

            contenido('http://'+ window.location.host +'/api/admin')
    </script>
</body>