<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MACDONALD</title>
    <button class ="inicio">
            <a class="nuevoMenu" href="menu">Inicio</a> 
    </button>
    <h1>EMPLEADOS DE  MACDONALDS</h1>
    <h3>-> JAIRO VARGAS</h3>
    <h3>-> ALONSO VILLALOBOS LEON</h3>
    <h3>-> ANTHONY RAMIREZ</h3>
    <h3>-> ISAAC ESTEBAN MURILLO </h3>
    <h3>-> ROY UREÑA SOLANO</h3>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    .inicio {
        padding:4px 4px;
        margin: 8px;
        width: 80px;
        text-align: center;
        background: red;
        border-radius: 8px;
        font-size: 20px;
    }
    body{
       background: yellow
    }
    h1 {
      text-align: center;  
    }
    a {
        color: yellow
    }
</style>
    
</html>