body{
    background: #d4d4d4;
    font-family:'arial';
}

.contenedor{
    width: 800px;
    max-width: 90%;
    margin-left: 30px auto;
}

ul.pestanas {
    width: 10%;
    background:	#FF8C00;
    list-style: none;
    display: flex; 
}
ul.pestanas li {
    width: 18%;
    
}
ul.pestanas li a {
    color: rgb(139, 39, 39);
    text-decoration: none;
    font-size: 16px;
    text-align: 30px;

    display: block;
    padding: 20px 0px;

}