.deslizador {
    position: absolute;
    width: 250px;
    height: 100%;
    background:#FF4500 ;
    outline: 1px solid #6B8E23;
}
.deslizador ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.deslizador a{
    display: block;
    padding: 10px;
}
.deslizador h1{
    text-align: center;
    margin: 0;
    padding: 10px;
    background:	#6B8E23 ;
}

.deslizador li{
    outline: 1px solid #6B8E23;
    transition: border 0.3s
}

.deslizador li:hover{
    background:#EEE8AA ;
    border-left: 5px solid #6B8E23 ;
}

.contenedor{
    width: 100%;
    height: 100%;
    position: absolute;
    background:	#808080;
    padding: 30px ;
    transition: all 0.3s;
}


.img {
    cursor: pointer;
    width: 60px;
}

.abrir {
    transform: translateX(250px);
    
}